{% extends "base_generic.html" %}
{% block title %}<title>New Legal Library</title>{% endblock %}
{% block content %}
  <h1>Legal Library Home</h1>
  <p>Welcome to LegalLibrary, a website developed by <em>DevTeeA</em>!</p>
  <h2>Dynamic Content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_genres }}</li>
    <li><strong>Genres:</strong> {{ num_authors }}</li>
    <li><strong>Book Filter:</strong> {{ books_containing_word }}</li>
  </ul>
{% endblock %}

<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>